<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Raiz</title>
</head>

<body>
    <% menus.forEach(menu=> { %>
        <h1>Olá mundo</h1>
        <div class="cardapio">
            <header>
                <h3><%= menu.title %> - <%= menu.restaurante.nome %></h3>
            </header>
            <div class="cardapio-body">
                <ul>
                    <% menu.sections.forEach(section=> { %>
                        <li><%= section.title %></li>
                        <% }) %>
                </ul>
            </div>
        </div>
        <% }) %>
            <script type="module" src="dados.js"></script>
            <script type="module" src="main.js"></script>
</body>

</html>